.dev-info-modal {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
}

.dev-info-wrap {
  width: 510px;
  height: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  position: relative;
}

.dev-info-top {
  padding: 40px 40px 0 40px;
}

.dev-name-wrap {
  margin-bottom: 20px;
}

.dev-name-wrap h1 {
  margin-bottom: 10px;
}

.dev-name-wrap span {
  font-weight: 600;
}

.dev-pos-wrap {
  margin-bottom: 10px;
}

.dev-pos-wrap span {
  font-weight: 600;
}

.dev-pos-wrap > span:first-child {
  color: #939393;
}

.dev-pos-stack-wrap {
  margin-bottom: 30px;
}

.dev-modal-navbar {
  height: 68px;
  padding: 0px 40px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 44px;
  margin-bottom: 30px;
}

.dev-modal-navbar a {
  display: flex;
  height: 68px;
  align-items: center;
  color: #939393;
  cursor: pointer;
}

.dev-modal-active {
  font-weight: 600;
  color: #282828 !important;
  border-bottom: 2px solid#FFC400;
}

.dev-modal-detail {
  border-radius: 5px;
  background: #fafafa;
  padding: 20px;
  box-sizing: border-box;
  margin: 0px 40px 40px 40px;
}

.dev-modal-detail h3 {
  margin-bottom: 20px;
}

.dev-modal-detail-info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 44px;
}

.dev-modal-detail-info > span {
  color: #282828;
}

.dev-modal-detail-info > span:first-child {
  font-weight: 600;
}

.dev-modal-detail-pos-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.dev-modal-devider {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  margin: 30px 0px;
}

.close-dev-modal {
  position: absolute;
  top: 30px;
  right: 30px;
}
