.find-id-msg {
  display: block;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #383838;
}

.find-id-container {
  width: 100%;
  height: 837px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.find-id-wrap {
  width: 430px;
}

.find-id-input {
  margin-bottom: 40px;
}

.AuthenticationNumber-container {
  position: relative;
}

.AuthenticationNumber-send-btn {
  width: 65px;
  height: 31px;
  position: absolute;
  top: 10px;
  right: 17px;
  background: #ffc400;
  border: 1px solid #ffc400;
  border-radius: 8px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  /* transform: translateY(-50%); */
}

.input-err-msg-authentication {
  bottom: 20px;
}
