.dev-scrap-list-container {
  width: 100%;
}

.dev-scrap-list-number {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.dev-scrap-list-number span {
  color: #939393;
}
